<div class="d-flex border border-light ">
  <!-- side bar -->
  <div
    style="width: 200px; height: 180vh; background-color: blueviolet"
    class="sidebar p-3 d-flex flex-column"
  >
    <ul  style="list-style: none;">
      <i class=" pt-3 mt-5 ps-3 fa-solid fa-house fs-3 "></i>
      <li class="pt-5 py-3 fw-bold fs-4">Home</li>
      <li class="pt-5 py-3 fw-bold fs-4">Charts</li>
      <li class="pt-5 py-3 fw-bold fs-4">About</li>
      <li class="pt-5 py-3 fw-bold fs-4">Date</li>
      <li class="pt-5 py-3 fw-bold fs-4">Subscribe</li>
      <li class="pt-5 py-3 fw-bold fs-4">Components</li>
      <li class="pt-5 py-3 fw-bold fs-4">Settings</li>
      <li class="pt-5 py-3 fw-bold fs-4">Help</li>
    </ul>
  </div>

  <!-- ---------dashborad----------- -->

  <div class="dashboard ps-3 w-100 " >
    <div class="row ">
      <!-- <div class="col-lg-6 border " style="width: 100%;">
        <div >
        <h3 class="text-center">Admin panel</h3>
       
    </div>
      </div>
    </div> -->

    <!-- ------------- -->
    <div class="row">
      <!-- follows -->

      <div class="col border rounded m-3" style="height: 140px; width: 120px ;background-color: rgb(248, 165, 134);">
        
<div class="d-flex p-4">
<h1 class="fw-bold fs-2 py-5" >45%</h1>
<div class="ps-5">
<!-- <i class="fa-sharp fa-regular fa-circle-dot  fs-5  "></i> -->
<h2 class="fw-bold fs-3 ">FOLLOWERS</h2>
<p>Lorem ipsum dolor sit amet.</p>
</div>

</div>

      </div>

      <!-- scope -->
      <div class="col border rounded m-3" style="height: 140px; width: 120px;background-color: cadetblue;">
        
        <div class="d-flex p-4">
            <h1 class="fw-bold fs-2 py-5" >75%</h1>
            <div class="ps-5">
            <!-- <i class="fa-sharp fa-regular fa-circle-dot  fs-5  "></i> -->
            <h2 class="fw-bold fs-3 ">scope</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>




      </div>

      <!-- views -->
      <div class="col border rounded m-3 shadow" style="height: 140px; width: 120px;background-color: palevioletred;">
       
        <div class="d-flex p-4 ">
            <h1 class="fw-bold fs-2 py-5" >55%</h1>
            <div class="ps-5">
            <!-- <i class="fa-sharp fa-regular fa-circle-dot  fs-5  "></i> -->
            <h2 class="fw-bold fs-3 ">VIEWS</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

      </div>
    </div>

<!-- ------------------- -->

<div class="row mt-5">

    <!-- chart -->
    <div class="col-8 w-50" style="height: 150px; ">
        <app-graph></app-graph>
    </div>

    <!-- rounded chart -->
    <div class="col-4 w-50  pt-5"style="height: 150px; padding-left: 17%; ">
      <app-date></app-date>
    </div>
  </div>


<!-- ---- -->
<div class="row  " style="margin-top: 30%;">

    <!-- chart -->
    <div class="col-4 w-50 " style="height: 150px; ">
      
      <app-rounded></app-rounded>
    </div>

    <!-- rounded chart -->
    <div class="col-8  w-50 "style="height: 150px; ">
        
        <app-revenue></app-revenue>
    </div>
  </div>









  </div>
</div>
